<div class="row">
  <div class="col-md-6">
    <h2>Chibuikem Bryan Nwauche</h2>
  </div>
  <div class="col-md-6">
    <div class="bg-alt">
      <div>
        <!-- Content goes here -->
      </div>
    </div>
  </div>
</div>

<%# Line Break %>
<br/> 
<hr class="my-2 bg-burgundy">

<!--Introduction and Photo-->
<div class="row mb-4">
  <div class="col-md-6">
    <div class="text-justify">
      <p>Hello, my name is Chibuikem Nwauche. I'm currently honing my skills as a Software Developer while pursuing a postgraduate Certificate in Cloud Computing at Durham College. Here, you'll find a showcase of my projects, each meticulously crafted to demonstrate my expertise and passion for innovation. Explore my collection of videos where I delve into the intricacies of each project, providing insights into their development processes, functionalities, and the technologies utilized. Each project is accompanied by a link to its GitHub repository, allowing you to delve deeper into the code and see firsthand how it all comes together. Whether you're a fellow developer seeking inspiration, an employer scouting for talent, or simply curious about the world of software development and cloud computing, I invite you to browse through my portfolio and witness the fusion of creativity and technology in action. Stay tuned for updates as I continue to push the boundaries of what's possible in the digital realm. Thank you for visiting!</p>
    </div>
  </div>
  <div class="col-md-6">
    <div >HEADSHOT GOES HERE</div>
  </div>
</div>

<%# Line Break %>
<br/> 
<hr class="my-2 bg-burgundy">
<h2 class="text-center mt-3">TECHNICAL SKILLS</h2>

<!--PROGRAMMING SKILL ROW 1-->
<div class="row mb-4">
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">JAVASCRIPT<br/>A versatile, high-level programming language used for creating dynamic web content, making webpages interactive and responsive. </div>

  </div>
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">TYPESCRIPT<br/>A strict syntactical superset of JavaScript that adds optional static typing, enhancing code quality and maintainability. </div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">MONGODB<br/>A NoSQL database known for its flexibility and scalability, storing data in JSON-like documents instead of tables.</div>
  </div>
</div>

<!--PROGRAMMING SKILL ROW 2-->
<div class="row mb-4">
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">RUBY<br/>A dynamic, object-oriented programming language designed for simplicity and productivity, often used with the Rails framework.</div>
    <div></div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">C#<br/>A modern, object-oriented language developed by Microsoft, widely used for building Windows applications and games.</div>
    <div></div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">PYTHON<br/>A high-level, interpreted language known for its readability and versatility, popular in web development, data science, and automation.</div>
    <div></div>
  </div>
</div>

<!--PROGRAMMING SKILL ROW 3-->
<div class="row mb-4">
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">POSTGRESQL<br/>An open-source relational database system emphasizing extensibility and SQL compliance, known for its robustness and performance.</div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">HTML<br/>The standard markup language for creating webpages, defining the structure and content of web documents.</div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="skill-tab-1">CSS<br/>A stylesheet language used for describing the presentation of a document written in HTML, including layout, colors, and fonts.</div>
  </div>
</div>
