
<div class="row">
  <div class="col-md-6">
    <div class="demo-content">Chibuikem Bryan Nwauche</div>
  </div>
  <div class="col-md-6">
    <div class="demo-content bg-alt">
      <div>
        
      </div>
    </div>
  </div>
</div>

<%# Line Break %>
<br/> 
<hr class="my-2 bg-burgundy">

<!--Introduction and Photo-->
<div class="row">
  <div class="col-md-6">
    <div class="demo-content">
      <p> Hello my name is Chibuikem Nwauche ,I'm currently honing my skills as a Software Developer while pursuing a postgraduate Certificate in Cloud Computing at Durham College. Here, you'll find a showcase of my projects, each meticulously crafted to demonstrate my expertise and passion for innovation. Explore my collection of videos where I delve into the intricacies of each project, providing insights into their development processes, functionalities, and the technologies utilized. Each project is accompanied by a link to its GitHub repository, allowing you to delve deeper into the code and see firsthand how it all comes together. Whether you're a fellow developer seeking inspiration, an employer scouting for talent, or simply curious about the world of software development and cloud computing, I invite you to browse through my portfolio and witness the fusion of creativity and technology in action. Stay tuned for updates as I continue to push the boundaries of what's possible in the digital realm. Thank you for visiting!</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="demo-content bg-alt">HEADSHOT GOES HERE</div>
  </div>
</div>

<%# Line Break %>
<br/> 
<hr class="my-2 bg-burgundy">
<h2 class="text-center mt-3">TECHNICAL SKILLS</h2>

<!--PROGRAMMING SKILL ROW 1-->
<div class="row">
  <div class="col-lg-4 text-center">
    <div class="demo-content">JAVASCRIPT</div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="demo-content">TYPESCRIPT</div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="demo-content">MONGODB</div>
  </div>
</div>

<!--PROGRAMMING SKILL ROW 2-->
<div class="row">
  <div class="col-lg-4 text-center">
    <div class="demo-content">RUBY</div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="demo-content">C#</div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="demo-content">PYTON</div>
  </div>
</div>

<!--PROGRAMMING SKILL ROW 2-->
<div class="row">
  <div class="col-lg-4 text-center">
    <div class="demo-content">POSTGRESQL</div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="demo-content">HTML</div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="demo-content">CSS</div>
  </div>
</div>

