<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <form style="width: 26rem;">
    <!-- Heading -->
    <div class="text-center mb-4">
      <h2>Contact Form</h2>
      <p>Like what you've seen <br/>If you have any other questions, don't hesistate to contanct me.</p>
    </div>

    <!-- Name input -->
    <div class="mb-4">
      <label for="form4Example1" class="form-label">Name</label>
      <input type="text" id="form4Example1" class="form-control" />
    </div>

    <!-- Email input -->
    <div class="mb-4">
      <label for="form4Example2" class="form-label">Email address</label>
      <input type="email" id="form4Example2" class="form-control" />
    </div>

    <!-- Message input -->
    <div class="mb-4">
      <label for="form4Example3" class="form-label">Message</label>
      <textarea class="form-control" id="form4Example3" rows="4"></textarea>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="form4Example4"
        checked
      />
      <label class="form-check-label" for="form4Example4">
        Send me a copy of this to my Email
      </label>
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Send</button>
  </form>
</div>



